# CICD using GitHub actions

name: CI/CD

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - cicd
    paths-ignore:
      - 'Dockerfiles/**'
      - 'HelmChart/**'
      - 'kubedefs/**'
      - 'readme'
      - 'README.md'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Run Unit Tests
        run: mvn test
  
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-package
          path: target/*.jar 

  push:
    runs-on: ubuntu-latest
    # needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfiles/app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/springboot-todo-app:${{ github.run_id }}

  update-helm-tag:
    runs-on: ubuntu-latest
    needs: push  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}  # A PAT with push access to repo

      - name: Update tag in Helm chart
        run: |
          sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' HelmChart/todoapp-chart/values.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "CI Bot"
          git config --global user.email "ci@example.com"
          git add .
          git commit -m "Update Helm chart image tag to ${{ github.run_id }}"
          git push
